
.pages {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 100%;
}

.page, .currentPage {
    border: 1px solid lightgray;
    border-radius: 100%;
    padding: 0 5px;
    cursor: pointer;
}

.currentPage {
    border: 2px solid gray;
    font-weight: bold;
}